@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
:root{
    font-size: 16px;
    --bg-primary :#202040;
    --bg-primary-hover: #aed0ff;
    --text-primary:#deecff;
    font-family: 'EB Garamond', serif;
    
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
main{
    
    background-image: url('images/bg-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     
}
#logo{
    font-family: 'Dancing Script',cursive;
}
.navbar{
    
    font-size: 2rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    width: 6rem;
    box-shadow: 0 0 2em #000000;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    transition: width 0.2s ease-in-out;
    
}
.navbar:hover{
    width: 15rem;
    
}
.navbar:hover #logo{
    padding-left: 4rem;
    padding-top: 2rem;
    transform: scale(1.3);
}
.nav-links{
    list-style: none;
    margin-top: 8rem;
   transition: 0s;
    overflow: hidden;
    
}
.nav-links > li{
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    height: 6rem;

    
}
.nav-links > li:hover{
    background-color: var(--bg-primary-hover);
    display: flex;
   align-items: center;

}
.nav-links img{
    width: 2rem;
    height: 2rem;
   
}
 .nav-info{
    opacity: 0;
    margin-left: 1rem;
    padding: 0;
    display: inline;
    padding-bottom: 10px;
}
.navbar:hover .nav-links > li{
    margin-top: 2rem;
}
.navbar:hover .nav-info{
    opacity: 1;
   }
#dark{
   margin-top: 5rem;
    padding-left: 1.5rem;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}

#dark img{
    height: 2rem;
    width: 2rem;
}

.bckdrp{
    opacity: 0;
    margin-left: 5rem;
    height: 100vh;
    width: 94.8%;
    background-color: rgba(0, 0, 0, 0.582);
    transition: width 0.2s ease;
    
}
.open{
    opacity: 1;
}
.loading{
    position: absolute;
    background: #30308b;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    color: var(--bg-primary-hover);

}
.loading h1{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    text-shadow: 0 0 1rem #000000;
}
.image{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
 
}
.image :first-child{
    
    padding-left: 3rem;
    height: 10rem;
    width: 10rem;
}
.image :last-child{
    
    padding-right: 3rem;
    height: 5rem;
    width: 5rem;
}
.content{
    margin-left: 5rem;
}